In [7]:
# Add Matplotlib inline magic command
%matplotlib inline

In [13]:

import matplotlib.pyplot as plt
import pandas as pd

#file to load
city_file_to_load = "Resources/city_data.csv"
ride_file_to_load = "Resources/ride_data.csv"

#Read city and ride data file
city_data_df = pd.read_csv(city_file_to_load)
ride_data_df = pd.read_csv(ride_file_to_load)

In [15]:
# merge the dataframe
pyber_data_df = pd.merge(ride_data_df,city_data_df ,how="left", on=["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [16]:
# checking each column of dataframe count,data types and value of columns have null or not
city_data_df.count()
ride_data_df.count()
ride_data_df.isnull().sum()
pyber_data_df.dtypes

city            120
driver_count    120
type            120
dtype: int64

In [21]:
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [22]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [26]:
# Get the number of data points from the Urban cities.
sum(city_data_df['type'] == 'Urban')

66

In [31]:
sum(city_data_df['type'] == 'Suburban')

36

In [29]:
sum(city_data_df['type'] == 'Rural')

18

In [32]:
[sum(city_data_df['type'] == 'Urban') + sum(city_data_df['type'] == 'Suburban') + sum(city_data_df['type'] == 'Rural') ]

[120]